node_modules/
*.log

#
# IntelliJ files
#

# User-specific stuff:
backend/HelpingHands/.idea/**/workspace.xml
backend/HelpingHands/.idea/**/tasks.xml
backend/HelpingHands/.idea/dictionaries

# Sensitive or high-churn files:
backend/HelpingHands/.idea/**/dataSources/
backend/HelpingHands/.idea/**/dataSources.ids
backend/HelpingHands/.idea/**/dataSources.xml
backend/HelpingHands/.idea/**/dataSources.local.xml
backend/HelpingHands/.idea/**/sqlDataSources.xml
backend/HelpingHands/.idea/**/dynamic.xml
backend/HelpingHands/.idea/**/uiDesigner.xml

# Gradle:
backend/HelpingHands/.idea/**/gradle.xml
backend/HelpingHands/.idea/**/libraries

# CMake
backend/HelpingHands/cmake-build-debug/

# Mongo Explorer plugin:
backend/HelpingHands/.idea/**/mongoSettings.xml

## File-based project format:
backend/HelpingHands/*.iws

## Plugin-specific files:

# IntelliJ
backend/HelpingHands/out/

# mpeltonen/sbt-idea plugin
backend/HelpingHands/.idea_modules/

# JIRA plugin
backend/HelpingHands/atlassian-ide-plugin.xml

# Cursive Clojure plugin
backend/HelpingHands/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
backend/HelpingHands/com_crashlytics_export_strings.xml
backend/HelpingHands/crashlytics.properties
backend/HelpingHands/crashlytics-build.properties
backend/HelpingHands/fabric.properties