.profile-pic {
	height: 50px;
	width: 50px;
}

.main-navbar {
	position: fixed;
	display: flex;
	align-items: center;
	background: #7f4eb7;
	height: 60px;
	width: 100%;
	overflow: hidden;
	box-shadow: -4px 0px 2px rgba(34,34,34,0.6);
	border-radius: 0px 0px 5px 5px;
}

button:focus {
	outline:0;
}

.nav-purple{
	background: #633d91;
	width: 100%;
	z-index: 1;
}

.score-box{
	border-style: solid;
	border-color: #bbbac0;
	border-width: 1px;
	border-radius: 5px;
	font-size: 18px;
    color: goldenrod;
    font-weight: bold;
}

.dashboard{
	padding-top:80px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 50px;
}

.communityBox {
	max-height:150px;
	overflow:scroll;
	border-style: solid;
	border-color: #ced4da;
	border-width: 1px;
	border-radius:7px;
}

.post-card {
	width: 100%;
}

.follower-count{
	color: #868e96 !important;
	font-size: 14px;
	font-weight: 2px;
}

.follower-count:hover {
	color:#171818 !important;
	transition:0.25s;
	text-decoration: none;
}

.community-count{
	color: #868e96 !important;
	font-size: 18px;
	font-weight: 2px;
}

.community-count:hover {
	color:#171818 !important;
	transition:0.25s;
	text-decoration: none;
}


.card-subtitle {
	font-size: 14px;
}

.voter:hover {
	color:#727074;
}

.profile-card {
	background-color: #daebff;
}

.posts-container{
	height: 1000px;
	
}

.post-body{
	font-size:12px;
}

.bio {
	font-size: 14px;
}

.logo {
	position: fixed;
	background: #fffb8e; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#fffb8e, #f9f9ed); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#fffb8e, #f9f9ed); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#fffb8e, #f9f9ed); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#fffb8e, #f9f9ed); /* Standard syntax */
	height: 75px;
	width: 90px;
	border-color: #68c975;
	border-width: 5px;
	border-radius: 200px;
	border-right-style: solid;
	border-left-style: solid; 
	overflow: hidden;
}
.logo img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.logo img:hover {
	max-width: 115%;
	max-height: 115%;
	transition: 0.5s;
}

.logo:active {
	border-color: #fdd960;
}

.submitter{
	padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.showSubmitter{
	max-height: 450px;
}

.hideSubmitter{
	max-height: 0px;
}

.postForm{
	padding: 18px 0;
}

.post-title{
	color:black;
}

.search-section{
	text-decoration: underline;
}

.post-title:hover{
	color:grey;
	text-decoration:none;
}

body {
	margin: 0px;
	background-color: #fffef7;
}